body{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}
.clock{
    font-size: 60px;
    position: absolute;
    color: white;
    margin: 40px auto;
    top: 40%;
    left: 40%;
    color: #17D4FE;
}