body{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    text-align: center;
    color: #2c3e50;
    font-size: 30px;    
    display: flex;
    justify-content: center;
}
.buttons{
    margin-top: 80px;
}
.start{
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    background-color: #27ae60;
    cursor: pointer;
    border: none;
    transition: opacity 0.3s ease-in-out;
}
.start:hover{
    opacity: 0.7;
}
.stop{
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    background-color: #c0392b;
    cursor: pointer;
    border: none;
    transition: opacity 0.3s ease-in-out;
    margin-left: 20px;
}
.stop:hover{
    opacity: 0.7;
}
.reset{
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    background-color: #7f8c8d;
    cursor: pointer;
    border: none;
    transition: opacity 0.3s ease-in-out;
    margin-left: 20px;
}
.reset:hover{
    opacity: 0.7;
}


